{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/reset_done.css' %}">
{% endblock css %}
{% block main-content %}
<div class="content">
    <div class="row content-main">
        <div class="img"><img style="height: 50px; width: 50px;" src="{% static 'user/img/green_tick.png' %}" alt="mail"></div>
        <div class="title"><h3>Your Password Has Been Changed</h3></div>
        <div class="button">
            <a href="{% url 'user:login' %}" class="btn btn-danger back">Back</a>
        </div>
    </div>
</div>
{% endblock main-content %}