{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
  <link rel="stylesheet" href="{% static 'user/css/reset_form.css' %}" />
{% endblock %}
{% block main-content %}
<div class="content">
    <div class="card content-main">
        <div class="card-body">
            <h4 class="card-title">Reset your password</h4>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                {{ form|crispy }}
                <div class="button">
                <button type="submit" class="btn btn-primary reset">Reset</button>
                <a href="{% url 'user:login' %}" class="btn btn-danger back">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
