{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Signup form</title>
    <link rel="stylesheet" href="{% static 'user/css/register.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon"  href="{% static 'favicon.ico'%}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="screen">
        <div class="screen__content">
          <form class="login" method="post">
            {% csrf_token %}
            <div class="login__field">
              <i class="login__icon fa fa-user"></i>
              <input type="text" class="login__input" id="username" name="username" placeholder="User name" />
            </div>
            <div class="login__field">
              <i class="login__icon fa fa-lock"></i>
              <input type="password" class="login__input" name="password1" id="password1" placeholder="Password" />
            </div>
            <div class="login__field">
              <i class="login__icon fa fa-lock"></i>
              <input type="password" class="login__input" name="password2" id="password2" placeholder="Comfirm Password" />
            </div>
            <button class="button login__submit">
              <span class="button__text">Signup</span>
              <i class="button__icon fa fa-chevron-right"></i>
            </button>
          </form>
          <div class="signup">
            <h4>Already have an account? <a href="{% url 'user:login' %}">Login</a></h4>
          </div>
          <div class="social-login">
            <h3>or log in via</h3>
            <div class="social-icons">
              <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="social-login__icon fa fa-brands fa-google"></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $("#username").focusout(function (e) {
        e.preventDefault();
        // get the nickname
        var username = $(this).val();
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'user:validate_username' %}",
            data: {"username": username},
            success: function (response) {
                // if not valid user, alert the user
                if(!response["valid"]){
                    alert("You cannot create a friend with same username");
                    var nickName = $("#username");
                    nickName.val("")
                    nickName.focus()
                }
            },
            error: function (response) {
                console.log(response)
            }
        })
    })
    </script>
  </body>
</html>
