{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/dashboard.css' %}">
{% endblock css %}
{% block main-content %}
<div class="content">
    <div class="row content-main">
        <div class="title">
            <h4>Menu</h4>
        </div>
        <div class="form">
            <form action="{% url 'game:start' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="bet_point">Bet Points</label>
                    
                    {% if request.session.bet_point %}
                    <input type="number" readonly name="_bet_point" id="_bet_point" value="{{request.session.bet_point}}" class="form-control">
                    {% else %}
                    <input type="number" name="choice_bet_point" id="choice_bet_point" value="25" min="25" max="{{ profile.point }}" class="form-control">
                    {% endif %}
                    <p id="message" class="message"></p>
                </div>
                <button type="submit" class="btn btn-success">Start</button>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var profilePoint = {{ profile.point }};
        var messageElement = document.getElementById('message');
        if (profilePoint < 25) {
            messageElement.textContent = 'Your points are insufficient. Please top up to continue the experience.';
            messageElement.style.color = 'black'; 
        }
    });
</script>
{% endblock js %}
