{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/dashboard.css' %}">
{% endblock css %}
{% block main-content %}
<div class="content">
    <div class="row content-main">
        <div class="title">
            <h4>Menu</h4>
        </div>
        <div class="form">
            <form action="{% url 'game:start' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="bet_point">Bet Points</label>
                    <input type="number" name="choice_bet_point" id="choice_bet_point" value="25" min="25" max={{profile.point}} class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Start</button>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
{% block js %}
{% endblock js %}
