{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/dashboard.css' %}">
{% endblock css %}
{% block main-content %}
<div class="content">
    <div class="row content-main">
        <div class="title">
            <h4>Menu</h4>
        </div>
        <div class="form">
            <form action="{% url 'game:start' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="bet_point">Bet Points</label>
                    <input type="number" name="choice_bet_point" id="choice_bet_point" value="25" class="form-control">
                    <p id="message" class="message">{{error}}</p>
                </div>
                <button type="submit" id="start" class="btn btn-success">Start</button>
                <a href="{% url 'wallet:buy_point' %}" id="top_up" class="btn btn-success">Top up here</a>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#top_up').hide()
        var messageElement = document.getElementById('message');
        var profilePoint = {{ profile.point }};
        if (profilePoint === 0) {
            messageElement.textContent = 'Please top up to continue.';
            messageElement.style.color = 'black';
            $('#start').hide()
            $('#top_up').show()
        }
    });
</script>
{% endblock js %}
