{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="icon" type="image/x-icon"  href="{% static 'favicon.ico'%}">
  </head>
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login" method="post">
          {% csrf_token %}
          <div class="login__field">
            <i class="login__icon fa fa-user"></i>
            <input type="text" class="login__input" id="username" name="username" placeholder="User name" />
          </div>
          <div class="login__field">
            <i class="login__icon fa fa-lock"></i>
            <input type="password" class="login__input" name="password" id="password" placeholder="Password" />
          </div>
          <div>
            <a name="remember" id="remember" href="{% url 'user:password_reset' %}"> Forgot password</a>
          </div>
          <button class="button login__submit">
            <span class="button__text">Login</span>
            <i class="button__icon fa fa-chevron-right"></i>
          </button>
        </form>
        <div class="signup">
          <h3>Not a user? <a href="{% url 'user:register' %}">Register now</a></h3>
        </div>
        <div class="social-login">
          <h3>log in via</h3>
          <div class="social-icons">
            <form action="{% provider_login_url 'google' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="social-login__icon fa fa-google"></button>
            </form>
            <form action="{% provider_login_url 'google' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="social-login__icon fa fa-facebook"></button>
            </form>
          </div>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>
    </div>
  </div>
</html>
