{% load i18n %}

{% blocktrans with site_name as site_name %}
You're receiving this email because you requested a password reset for your user account at Number Guessing Game.
Please go to the following page and choose a new password:
{% endblocktrans %}
<a href="{{ protocol }}://{{ domain }}{% url 'user:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
{% blocktrans with user.get_username as username %}
Your username, in case you’ve forgotten: {{ username }}
{% endblocktrans %}
{% blocktrans %}
Thanks for using our site!
The Number Guessing Game team
{% endblocktrans %}
